<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SalariatiDB" connectionString="Server=MEHIGH-PC\SQLEXPRESS;Database=CalculatorSalarii;Trusted_Connection=True;" />
    <add name="CalculatorSalarii.Properties.Settings.CalculatorSalariiConnectionString"
      connectionString="Data Source=MEHIGH-PC\SQLEXPRESS;Initial Catalog=CalculatorSalarii;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>